@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/subset-Gilroy-Medium.woff2') format('woff2'),
  url('assets/fonts/subset-Gilroy-Medium.woff') format('woff'),
  url('assets/fonts/subset-Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/subset-Gilroy-Bold.woff2') format('woff2'),
  url('assets/fonts/subset-Gilroy-Bold.woff') format('woff'),
  url('assets/fonts/subset-Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/subset-Gilroy-Regular.woff2') format('woff2'),
  url('assets/fonts/subset-Gilroy-Regular.woff') format('woff'),
  url('assets/fonts/subset-Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/subset-Gilroy-Extrabold.woff2') format('woff2'),
  url('assets/fonts/subset-Gilroy-Extrabold.woff') format('woff'),
  url('assets/fonts/subset-Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}