.header__topline {
  background:#fff;
  border-bottom: 1px solid #bfbfbf;
}

.select-city-link {
  color:#a1a1a1;
  border-bottom:1px dotted #a1a1a1;
  margin-right:3em;
  font-size:0.875em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.select-city-link:hover {text-decoration: none;}

.header .phone {
  text-align: center;
  float:right;
}

.phone p.phone__value{
  font-weight: bold;
  font-size:2em;
  margin:0;
  letter-spacing: 2px;
  font-family:$gilroy;
  padding-top: 0.25em;
  line-height: 1;
}
.phone  p {
  font-size:0.875em;
  font-weight:bold;
  font-family:'Open Sans',sans-serif;
  text-transform: uppercase;
}
.basket-btn {
  background:#ffd60f;
  text-transform: uppercase;
  line-height:1;
  font-family:'Open Sans',sans-serif;
  font-weight:bold;
  font-size:0.875em;
  margin-right:1em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}



.login-link {
  font-size:0.875em;
  font-weight: bold;
  border-bottom:3px solid #ffd60f;
  text-transform: uppercase;
  display:inline-block;
  line-height:1;
  margin-right:1em;
}

.socials {
  display:inline-block;
  margin-right:1em;
  height:22px;
}


.total-price {
  display:inline-block;
  font-family:$gilroy;
  font-size:2em;
  color:#747474;
}

.login-link, .socials, .total-price {vertical-align: middle;}



.socials__item {
  font-size:1.25em;
  margin-right:0.625em;
}