#mainnavbar{
  background:#ffffff;
  border-bottom: 1px solid #bfbfbf;
}
#mainnavbar nav {}
#mainnavbar nav ul {
  padding:0;
  margin:0;
}

#mainnavbar nav ul li {
  display: inline-block;

}
#mainnavbar nav ul li a {
  display: inline-block;
  font-size:1.625em;
  font-family: $gilroy;
  font-weight: bold;
  padding-top:1rem;
  padding-bottom:1rem;
  color:$shady-lady;
  padding-right:7px;
  padding-left:7px;
}
#mainnavbar nav ul li:last-child a {padding-right:0;}
#mainnavbar nav ul li:first-child a {padding-left:0;}
#mainnavbar nav ul li.active a,#mainnavbar nav ul li a:hover {
  color:#000;
  border-bottom:3px solid #4cd964;

}

.filter {display: inline-block;width:50%;margin-right:-4px;height: 41px;}

.search-input{
  display: inline-block;
  width:50%;
  border:2px solid #FFDA00;
  border-radius: 0 4px 4px 0;
  line-height: 1;
  height:41px;
  vertical-align: top;
  position: relative;
}

.search-input:before{
  content:'\6b';
  font-family: "burger" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  font-size:1.8em;
  left: 16px;
  font-size: 1.8em;
  top: 4px;
}

.search-input input {
  border: none;
  background: none;
  width: 70%;
  float: right;
  height: 100%;
}

.filter ul{display: none;}


.filter-btn{
  border:2px solid #A1A1A1;
  border-right:none;
  border-radius: 4px 0 0 4px;
  width:100%;
  height: 100%;
}
.filter-btn:after{
  content:'';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  border-top: 6px solid #A1A1A1;
  margin-left:9px;
}