.items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .food {
    width: 49%;
    border: 2px solid transparent;
    padding: 7px 10px;
    display: flex;
    flex-wrap: nowrap;
    height: 288px;
    justify-content: space-between;

    &:hover {
      border: 2px dotted #808080;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      .pic {
        .arrow {
          top: calc(50% - 15px);
          left: auto;
          right: -14px;
          transform: scaleX(-1);

        }
      }
    }
  }

  .chars {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 21px;
      font-family: "Gilroy";
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      max-height: 62px;
      overflow: hidden;
    }
  }
  
  .ingrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 81px;
    overflow: hidden;
    .i-item {
      margin: 0 5px 0 0;

      .mod-name {
        font-size: 18px;
        color: #808080;
      }

      .mod-name-deleted {
        text-decoration: line-through;
      }

      .mod-delete-icon {
        color: black;
        background: url("img/icons_close_min.png") center no-repeat;
        background-size: contain; 
        cursor: pointer;
        width: 9px;
        height: 9px;
        display: inline-block;
        margin: 0 0 0 2px;
      }

      .mod-return-icon {
        color: black;
        cursor: pointer;
        font-size: 17px;
        width: 9px;
        height: 9px;
        display: inline-block;
        margin: 0 0 0 2px;
        &::before {
          content: '+';
          display: inline-block;
          transform: scale(1.12);
        }
      }
    }
  }
  .i-add, .i-more {
    display: inline;
    align-self: flex-start;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px dotted #808080;
    font-size: 18px;

    &:hover {
      border-bottom: 2px solid #808080;
    }
  }

  .i-add {
    margin-right: 15px;
  }

  .sizes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: flex-start;
    margin: 10px 0 0;

    .btn {
      text-align: center;
      display: block;
      border-radius: 15px;
      border: 1px solid #808080;
      color: black;
      cursor: pointer;
      padding: 5px;
      margin-bottom: 3px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0; 
      }

      &:hover,
      &.active {
        border: 1px solid #ffd70f;
        background: #ffd70f;
        box-shadow: 2px 5px 5px -4px rgba(0,0,0,0.18);
      }

      &.mini-size {
        padding: 4px 8px;
        margin-right: 8px;
      }
      &.middle-size {
        padding: 4px 10px;
        margin-right: 8px;
      }
      &.maxi-size {
        padding: 4px 15px;
      }
    }

  }

  .bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;

    .price {
      font-size: 2rem;
      color: black;
      margin: 0 0 0 0;
      white-space: nowrap;

      span {
        font-size: 1.8rem;      }
    }

    .weight {
      color: #808080;
      font-size: 12px;
      white-space: nowrap;
    }

    .in-basket {
      position: relative;
      outline: 0;
      border: 2px solid #ffd70f;
      border-radius: 4px;
      text-align: center;
      text-transform: uppercase;
      color: black;
      background: transparent;
      padding: 5px 13px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background: #ffd70f
      }

      .count-items {
        position: absolute;
        top: -10px;
        right: -10px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ffd70f;
        color: black;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .counter-block {
      display: flex;

      .counter {
        width: 26px;
        height: 26px;
        background: transparent;
        border-radius: 50%;
        border: 1px solid #808080;
        outline: none;
        text-decoration: none;
        box-shadow: none;
        cursor: pointer;

        &:hover {
          background: #ffd70f;
          border: 1px solid #ffd70f;
        }
      }

      .label-counter {
        display: inline-block;
        margin: 2px 0.5rem 0;
        font-size: 1.8rem;
        line-height: 1;
      }
    }
  }

  .pic {
    position: relative;
    cursor: pointer;
    width: 50%;
    height: 280px;
    margin: auto 0;

    img {
      width: 100%;
      max-height: 98%;
      margin: 0 auto;
      filter: brightness(100%);
    }
  
    // img:hover {
    //   filter: brightness(70%);
    // }


    .detail {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;

      &:hover + img {
        filter: brightness(70%);
      }

      .detail-img {
        width: 36px;
        height: 36px;
        background: url("img/icons_zoom2.png") center center no-repeat;
        background-size: contain;
        margin: 0 auto 10px;
      }
      .detail-text {
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        font-weight: bold;
      }

      .arrow {
        position: absolute;
        top: calc(50% - 15px);
        left: -37px;
        width: 67px;
        height: 30px;
      }
    }

    &:hover {
      .arrow {
        background: url("img/icons_arrow.png") center center no-repeat;
        background-size: contain;
      }
      .detail {
        opacity: 1;
      }
    }
  }

}

// Модальные стили для всплавашки элемента
.modal-header {
  position: relative;
  background: black;
  padding: 0;
  height: 48px;
  border-bottom: 0;

  .info-yellow-block {
    background: #ffd70f;
    padding: 10px;
    display: block;
    height: 100%;
  }

  .info-title {
    display: block;
    color: white;
    font-size: 21px;
    padding: 10px 40px 10px 10px;
    width: 97%;
    height: 100%;
    overflow: hidden;
  }

  .info-modal-close {
    width: 21px;
    height: 21px;
    background: url("img/icons_close_max.png") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
    right: 10px;
    border: none;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    opacity: .5;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.info-modal-pic {
  width: 100%;
  max-height: 540px;
  img {
    width: 100%;
    object-fit: contain;

  }
}

.scrollbar-wrapper {
  padding: 20px;
  position: relative;

  p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-right: 20px;
    color: #808080;
  }

  span {
    color: black;
  }
}

.modal-scrollbar {
  width: 100%;
  max-height: 150px; 
}

.empty-gap {
  height: 15px;
}

.fade-out-block {
  height:50px;
  width:100%;
  position:absolute;
  bottom: 20px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(95%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}


.include-mods {
  position: relative;
}


