<div class="ui-add-engradient">
  <a href="#" class="add-to-dish btn"><i class="icon-plus-circled"></i>Добавить в блюдо</a>
  <div class="contents">
    <table>
      <tr data-id="0">
        <td>Салями</td>
        <td>+55 ₽</td>
        <td>  <div class="ui-amount-control ui-amount-control-big">
              <button class="minus-one-btn"><i class="icon-minus"></i></button>
              <span class="ui-amount-control__value">1</span>
              <button class="plus-one-btn"><i class="icon-plus"></i></button>
          </div></td>
      </tr>
      <tr data-id="0">
        <td>Морепродукты</td>
        <td>+55 ₽</td>
        <td>  <div class="ui-amount-control ui-amount-control-big">
              <button class="minus-one-btn"><i class="icon-minus"></i></button>
              <span class="ui-amount-control__value">1</span>
              <button class="plus-one-btn"><i class="icon-plus"></i></button>
          </div></td>
      </tr>
      <tr data-id="0">
        <td>Мацарелла</td>
        <td>+55 ₽</td>
        <td>  <div class="ui-amount-control ui-amount-control-big">
              <button class="minus-one-btn"><i class="icon-minus"></i></button>
              <span class="ui-amount-control__value">1</span>
              <button class="plus-one-btn"><i class="icon-plus"></i></button>
          </div></td>
      </tr>
      <tr data-id="0">
        <td>Помидор</td>
        <td>+55 ₽</td>
        <td>  <div class="ui-amount-control ui-amount-control-big">
              <button class="minus-one-btn"><i class="icon-minus"></i></button>
              <span class="ui-amount-control__value">1</span>
              <button class="plus-one-btn"><i class="icon-plus"></i></button>
          </div></td>
      </tr>
    </table>
  </div>
</div>
