<div class="ui-context-menu ui-element context-payments">
  <ul>
    <li class="ui-context-menu__item payment-card"><a href="#">Оплата картой через сайт</a></li>
    <li class="ui-context-menu__item payment-card-place"><a href="#">Оплата картой курьеру</a></li>
    <li class="ui-context-menu__item payment-cash"><a href="#">Оплата наличными курьеру</a></li>
    <li class="ui-context-menu__item payment-yandexmoney"><a href="#">Яндекс.деньги</a></li>
    <li class="ui-context-menu__item payment-webmoney"><a href="#">Webmoney</a></li>
    <li class="ui-context-menu__item payment-qiwi"><a href="#">Qiwi</a></li>
  </ul>
</div>
