<div class="ui-context-menu ui-element context-filter">
  <ul>
    <li class="ui-context-menu__item"><a href="#">Вегетарианцам</a></li>
    <li class="ui-context-menu__item"><a href="#">С рыбой</a></li>
    <li class="ui-context-menu__item"><a href="#">С говядиной</a></li>
    <li class="ui-context-menu__item"><a href="#">С курицей</a></li>
    <li class="ui-context-menu__item"><a href="#">С индейкой</a></li>
    <li class="ui-context-menu__item"><a href="#">С морепродуктами</a></li>
  </ul>
</div>
