<div class="ui-add-engradient">
  <a href="#" class="remove-from-dish btn"><i class="icon-minus-circled"></i>Убрать из блюда</a>
  <div class="contents">
    <table>
      <tr data-id="0">
        <td>Лук</td>
        <td><a href="#" class="restore">Вернуть</a></td>
      </tr>
      <tr data-id="0">
        <td>Лук</td>
        <td><a href="#">Убрать</a></td>
      </tr>
      <tr data-id="0">
        <td>Лук</td>
        <td><a href="#">Убрать</a></td>
      </tr>
      <tr data-id="0">
        <td>Лук</td>
        <td><a href="#">Убрать</a></td>
      </tr>
      <tr data-id="0">
        <td>Лук</td>
        <td><a href="#">Убрать</a></td>
      </tr>

    </table>
  </div>
</div>
