.menu {
  display: flex;
  flex-flow: column nowrap;
  max-width: 80vw;
  padding: 0 10vw;
  margin: 0 auto;
  
  .stub {
    width: 100%;
    height: 4rem;
    background: transparent;
  }
  
  .menu-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem !important;

    &.top {
      position: fixed;
      width: 80vw;
      padding: 1rem 10vw;
      top: 0;
      left: 0;
      background: white;
      z-index: 999;
      border-bottom: 2px solid #ffd70f;

      .menu-header__categ-names {
        margin: 0 !important;
      }
    }

    &__categ-names {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
  
      button {
        font-size: 1.5rem;
        margin: 0 0.5rem;
        color: black;
        text-transform: uppercase;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        user-select: none;
        border-bottom: 2px solid transparent;
  
        &.active {
          font-weight: bold;
          border-bottom: 2px solid #ffd70f;
        }
      }
    }
  }

  .categ-items {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
}