<header class="header">
    <div class="header__topline">
        <div class="container">
            <div class="row v-middle">
                <div class="col-lg-3 col-xl-3">
                    <a href="#city-select" class="select-city-link">Москва</a>
                    <img src="./assets/images/logo.svg" alt="logo"/>
                </div>
                <div class="col-lg-4 col-xl-4">
                    <div class="phone">
                        <p class="phone__value"> 8-800-555-55-55</p>
                        <p>Звонок бесплатный</p>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-5 text-right">
                    <div class="socials">
                        <a href="#" class="socials__item vk"><i class="icon-vk"></i> </a>
                        <a href="#" class="socials__item fb"><i class="icon-facebook"></i></a>
                        <a href="#" class="socials__item insta"><i class="icon-instagram"></i></a>
                        <a href="#" class="socials__item youtube"><i class="icon-youtube-play"></i></a>
                    </div>
                    <a href="#login" class="login-link">Войти</a>
                    <a href="cart.html" class="btn basket-btn">Корзина</a>
                    <div class="total-price">1 990 ₽</div>
                </div>
            </div>
        </div>
    </div>
</header>