 <title>Main page</title>
 <link href="https://file.myfontastic.com/dSoF5fhfrXeL4z9sKKEJJV/icons.css" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/app.css" type="text/css"/>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <meta name="robots" content="index, follow">

 <meta property="og:image" content="https://cdn.mdn.mozilla.net/static/img/opengraph-logo.72382e605ce3.png">
 <meta property="og:site_name" content="Веб-документация MDN">
 <meta name="twitter:card" content="summary">
 <meta name="twitter:image" content="https://cdn.mdn.mozilla.net/static/img/opengraph-logo.72382e605ce3.png">
 <meta name="twitter:site" content="@MozDevNet">
 <meta name="twitter:creator" content="@MozDevNet">

 <link rel="shortcut icon" href="https://cdn.mdn.mozilla.net/static/img/favicon32.7f3da72dcea1.png">


 <!-- document-specific social tags -->
 <meta property="og:title" content="Использование viewport мета тега для управления разметкой на мобильных браузерах">
 <meta property="og:url" content="https://developer.mozilla.org/ru/docs/Mozilla/Mobile/Viewport_meta_tag">
 <meta name="twitter:url" content="https://developer.mozilla.org/ru/docs/Mozilla/Mobile/Viewport_meta_tag">
 <meta name="twitter:title" content="Использование viewport мета тега для управления разметкой на мобильных браузерах">

 <meta property="og:description" content="Узнать больше о вьюпортах в разных мобильных браузерах можно в Рассказе о Двух Viewport&#39;ах на quirksmode.org.">
 <meta name="description" content="Узнать больше о вьюпортах в разных мобильных браузерах можно в Рассказе о Двух Viewport&#39;ах на quirksmode.org.">
 <meta name="twitter:description" content="Узнать больше о вьюпортах в разных мобильных браузерах можно в Рассказе о Двух Viewport&#39;ах на quirksmode.org.">
