<header class="header">
    <div class="header__topline">
        <div class="container">
            <div class="row v-middle">
                <div class="col-lg-3 col-xl-3 col-md-3">
                    <a href="#city-select" class="select-city-link">Москва</a>
                    <a href="/"><img src="./assets/images/logo.svg" alt="logo"/></a>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4">
                    <div class="phone">
                        <p class="phone__value"> 8-800-555-55-55</p>
                        <p>Звонок бесплатный</p>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-5 col-md-5 col text-right">
                    <div class="socials">
                        <a href="#" class="socials__item vk"><i class="icon-vk"></i> </a>
                        <a href="#" class="socials__item fb"><i class="icon-facebook"></i></a>
                        <a href="#" class="socials__item insta"><i class="icon-instagram"></i></a>
                        <a href="#" class="socials__item youtube"><i class="icon-youtube-play"></i></a>
                    </div>

                        <a href="#login" class="login-link" v-if="!checkLogin">Войти</a>
                    <div class="user-info" v-if="checkLogin" v-text="userInfo"></div>
                        <a href="cart.html" class="btn basket-btn">Корзина</a>

                    <div class="mini-cart" id="mini-cart">
                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <img src="./assets/images/food/extrasmall/1.jpg" alt="food"/>
                            </div>
                            <div class="col-md-7 col-xs-7">
                                <p>Овощная слоеная с овощами</p>
                                <p>520 ₽ <span class="mini-cart__weight">800 г</span></p>

                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="ui-amount-control vertical">
                                    <button class="minus-one-btn"><i class="icon-minus"></i></button>
                                    <span class="ui-amount-control__value">1</span>
                                    <button class="plus-one-btn"><i class="icon-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total-price">1 990 ₽</div>
                </div>
            </div>
        </div>
    </div>
</header>
