<modal name="login" height="auto" adaptive v-cloak>
    <button @click="$modal.hide('login')" class="modal-close">
        x
    </button>
    <h3 class="modal-header">Авторизация</h3>
    <div class="modal-body">
        <form name="login" action="/" method="post" @submit.prevent="auth" id="auth-form">
            <div v-if="Object.keys(errors.login).length!==0">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="(error,input) in errors.login">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" value="" placeholder="Телефон"
                       v-model="phone" v-mask="'7-###-###-##-##'"/>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" value="" placeholder="Пароль"/>
                <a href="#" @click.prevent="restorePassword">Забыли пароль?</a>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control" name="submit">Отправить</button>
            </div>

            <div class="form-group">
                <a href="#" @click.prevent="showRegister">Регистрация</a>
            </div>

        </form>
    </div>
</modal>


<modal name="register" height="auto" adaptive v-cloak>
    <button @click="$modal.hide('register')" class="modal-close">
        x
    </button>
    <h3 class="modal-header">Регистрация</h3>
    <div class="modal-body">
        <form name="register" action="/" method="post" @submit.prevent="register" id="reg-form">
            <div v-if="Object.keys(errors.register).length!==0">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="(error,input) in errors.register">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="fullname" value="" placeholder="Имя"/>

            </div>


            <div class="form-group">
                <input type="text" class="form-control" name="phone" value="" placeholder="Телефон" v-model="phone"
                       v-mask="'7-###-###-##-##'"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" value="" placeholder="Пароль" v-model="password"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password_confirm" value=""
                       placeholder="Подтверждение пароля" v-model="passwordConfirm"/>
            </div>


            <div class="form-group">
                <button type="submit" class="form-control" name="submit">Отправить</button>
            </div>

        </form>
    </div>
</modal>

<modal name="register2" height="auto" adaptive v-cloak>
    <button @click="$modal.hide('register2')" class="modal-close">
        x
    </button>
    <h3 class="modal-header">Регистрация- введите код из смс для активации</h3>
    <div class="modal-body">
        <form name="register2" action="/" method="post" @submit.prevent="activate" id="reg-form2">
            <div v-if="Object.keys(errors.register2).length!==0">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="(error,input) in errors.register2">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" name="phone" value="" placeholder="Телефон"
                       v-model="phone" v-mask="'8-###-###-##-##'"/>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="code" value="" placeholder="Код из смс" />

            </div>
            <div class="form-group">
                <button type="submit" class="form-control" name="submit">Отправить</button>
            </div>
            <input type="hidden" class="form-control" name="password" value=""  v-model="password"/>
            <input type="hidden" class="form-control" name="password_confirm" value=""
                   placeholder="Подтверждение пароля" v-model="passwordConfirm"/>
        </form>
    </div>
</modal>
<modal name="restorepassword" height="auto" adaptive v-cloak>
    <button @click="$modal.hide('restorepassword')" class="modal-close">
        x
    </button>
    <h3 class="modal-header">Восстановление пароля</h3>
    <div class="modal-body">
        <form name="restorepassword" action="/" method="post" @submit.prevent="getRestoreCode" id="restorepassword-form">
            <div v-if="Object.keys(errors.restorepassword).length!==0">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="(error,input) in errors.restorepassword">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <input  class="form-control" name="phone" value="" placeholder="Телефон"
                        v-model="phone" v-mask="'7-###-###-##-##'"/>
            </div>

            <div class="form-group">
                <button type="submit" class="form-control" name="submit">Отправить</button>
            </div>
        </form>
    </div>
</modal>
<modal name="restorepassword2" height="auto" adaptive v-cloak>
    <button @click="$modal.hide('restorepassword2')" class="modal-close">
        x
    </button>
    <h3 class="modal-header">Восстановление пароля</h3>
    <div class="modal-body">
        <form name="restorepassword2" action="/" method="post" @submit.prevent="activateNewPassword" id="restorepassword-form2">
            <div v-if="Object.keys(errors.restorepassword2).length!==0">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="(error,input) in errors.restorepassword2">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" name="phone" value="" placeholder="Телефон"
                       v-model="phone" v-mask="'7-###-###-##-##'"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="code" value="" placeholder="Код из смс" />

            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" value="" placeholder="Пароль" v-model="password"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password_confirm" value=""
                       placeholder="Подтверждение пароля" v-model="passwordConfirm"/>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control" name="submit">Отправить</button>
            </div>

        </form>
    </div>
</modal>