<section id="mainnavbar">
    <div class="container">
        <div class="row v-middle">
            <div class="col-lg-9 col-xl-9  order-3 ">
                <nav>
                    <ul>
                        <li><a href="#">Бургеры</a></li>
                        <li class="active"><a href="#">Пиццони</a></li>
                        <li><a href="#">Стейки</a></li>
                        <li><a href="#">Гарниры</a></li>
                        <li><a href="#">Салаты</a></li>
                        <li><a href="#">Супы</a></li>
                        <li><a href="#">Десерты</a></li>
                        <li><a href="#">Напитки</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-xl-3  order-2">
                <div class="filter">
                    <button class="btn btn-slim filter-btn">Фильтр</button>
                    <ul>
                        <li><a href="#">Вегетарианцам</a></li>
                        <li><a href="#">С рыбой</a></li>
                        <li><a href="#">С говядиной</a></li>
                        <li><a href="#">С курицей</a></li>
                        <li><a href="#">С индейкой</a></li>
                        <li><a href="#">С морепродуктами</a></li>
                    </ul>
                </div>
                <div class="search-input">
                    <input type="text" value="Поиск" />
                </div>

            </div>
        </div>

    </div>
</section>