<section id="mainnavbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <nav>
                    <ul>
                        <li><a href="#">Бургеры</a></li>
                        <li class="active"><a href="#">Пиццони</a></li>
                        <li><a href="#">Стейки</a></li>
                        <li><a href="#">Гарниры</a></li>
                        <li><a href="#">Салаты</a></li>
                        <li><a href="#">Супы</a></li>
                        <li><a href="#">Десерты</a></li>
                        <li><a href="#">Напитки</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-2">
                <div class="filter">
                    <ul>
                        <li><a href="#">Вегетарианцам</a></li>
                        <li><a href="#">С рыбой</a></li>
                        <li><a href="#">С говядиной</a></li>
                        <li><a href="#">С курицей</a></li>
                        <li><a href="#">С индейкой</a></li>
                        <li><a href="#">С морепродуктами</a></li>
                    </ul>
                </div>
                <input type="text" value="Поиск"/>
            </div>
        </div>

    </div>
</section>