<section id="slider" class="slider" style="background-image:url(./assets/images/slider/bg-image.jpg)">


    <div class="container">
        <div class="slide">
            <h2 class="slider__title">Бесплатная доставка!</h2>
           <p class="slider__desc">Подарим Вам 300 бонусных рублей, если наш курьер
               не успеет доставить заказ
               в течение 60 минут.</p>
            <a class="btn slider-btn btn-white btn-shadow" href="#">Подробнее</a>
        </div>
    </div>


</section>