.set-burgers{
  height: 690px;
  display: flex;
  justify-content: center;
  background: url('./img/bgr_set.jpg') center top no-repeat;
  background-size: cover;
}
.set-burgers-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.top-text-block{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 40px;
}
.set-burgers-text1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
}
.set-burgers-text2{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 21px;
  margin-top: 10px;
}
.burgers-block{
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
.burger-cart{
  display: flex;
  flex-direction: column;
}
.burger-img{
  width: 200px;
}
.dont-select{
  margin-bottom: 23px;
}
.select-burger-block{
  display: flex;
  flex-direction: row;
}
.number-burger{
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 100%;
  padding: 9px;
  width: 51px;;
}
.selecttor-burger{
  font-weight: bold;
  font-size: 21px;
  height: 30px;
  margin-top: 7px;
  margin-left: 13px;
  width: 150px;
}
.burger-cart-text {
  width: 222px;
  font-size: 18px;
  color: #838383;
  margin-top: 10px;
}
.burger-cart-text-span {
  color: black;
}
.add{
  border-bottom: 1px dotted black;
  width: 65px;
  cursor: pointer;
}
.burger-weight {
  font-size: 27px;
  color: #818181;
  margin-top: 10px;
}
.burger-cart-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
}
.dont-select-burger-text {
  display: flex;
  width: 222px;
  font-size: 18px;
  color: #838383;
  margin-top: 10px;
  border: 1px dotted #838383;
  height: 95px;
  justify-content: center;
  align-items: center;
  text-align:  center;
}
.burger-price{
  color: #B8B8B8;
  font-size: 34px;
  margin-top: 6px;
}
.lower-block{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.burger-price-span{
  color: #B8B8B8;
  font-size: 23px;
  margin-left: 5px;
  margin-top: 7px;
}
.grey-line{
  height: 2px;
  background-color: #B8B8B8;
  width:35vw;
  max-width: 450px;
  margin-top: 23px;
}
.lower-block-center{
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-right: 25px;
  width: 210px;
}
.add-to-card{
  display: flex;
  color: #B8B8B8;
  border: 2px #B8B8B8 solid;
  padding: 9px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 13px;
}