<div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <header class="xs-visible">
            <div class="row">
            <div class="col-9">
              <img src="./assets/logo-words.png" alt="logo" />
            </div>
            <div class="col-3">
                //= ../blocks/mobile-menu.html
            </div>

            </div>
          </header>
          <div class="top">
            <i class="arrow-left"></i>
            <div class="top__title">Трансляция с кухни</div>
          </div>
        </div>

        <div class="modal-body">
          <p>Ваш заказ № 356 </p>
          <p>будет доставлен до 18:25</p>

          <div class="timer">
            <span class="minutes">49</span> мин <span class="sec">30</span> сек
          </div>

          <video> </video>

          <div class="order-details">
            <div class="order-details__item">
              <div class="row">
                <div class="col-9">
                  <div class="order-details__item__img"><img src="./assets/images/food/1.jpg" alt="food"  class="img-fluid"/></div>
                  <div class="order-details__item__status">Готово</div>
                </div>
                <div class="col-3">
                  <div class="order-details__item__title">1. Пиццони с сырок и грибами 2x</div>
                  <div class="order-details__item__ingredients">
                    <div class="ingredients__item">
                      Соус барбекю <span>2x 150</span>
                    </div>
                    <div class="ingredients__item">
                      Соус барбекю <span>2x 150</span>
                    </div>
                   </div>
                </div>
              </div>
            </div>

          </div>
          <div class="description">Если наш курьер не доставит в течение 60 минут, мы подарим  Вам 300 бонусных баллов</div>

        </div>

        <button class="btn btn-blue">Перейти в личный кабинет</button>
      </div>
    </div>
  </div>
