<div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <header class="xs-visible">
            <div class="row">
            <div class="col-9">
              <img src="./assets/logo-words.png" alt="logo" />
            </div>
            <div class="col-3">
                //= ../blocks/mobile-menu.html
            </div>

            </div>
          </header>
          <div class="top">
            <i class="arrow-left"></i>
            <div class="top__title">Контакты</div>
          </div>
        </div>

        <div class="modal-body">
          <div class="phone__number">8-800-555-80-80</div>
          <div class="phone__title">Звонок бесплатный</div>
          <div class="phone__map"><img src="./assets/images/map.jpg" alt=""/></div>

          <h3>Адрес ресторанов</h3>

          <div class="adresses-container">
            <div class="adresses__item">
              <i class="icon-metro"> </i> <span class="metro__station">Проспект мира</span>
              <span class="adresses__item__value">ул. Щепкина, до 33</span>
              <p>Доставка: <span>с 11:00 до 23:00</span> </p>
              <p>Время работы: <span>ежедневно с 10:00 до 22:30</span> </p>
            </div>
            <div class="adresses__item">
              <i class="icon-metro"> </i> <span class="metro__station">Проспект мира</span>
              <span class="adresses__item__value">ул. Щепкина, до 33</span>
              <p>Доставка: <span>с 11:00 до 23:00</span> </p>
              <p>Время работы: <span>ежедневно с 10:00 до 22:30</span> </p>
            </div>
            <div class="adresses__item">
              <i class="icon-metro"> </i> <span class="metro__station">Проспект мира</span>
              <span class="adresses__item__value">ул. Щепкина, до 33</span>
              <p>Доставка: <span>с 11:00 до 23:00</span> </p>
              <p>Время работы: <span>ежедневно с 10:00 до 22:30</span> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
