<div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <header class="xs-visible">
            <div class="row">
            <div class="col-9">
              <img src="./assets/logo-words.png" alt="logo" />
            </div>
            <div class="col-3">
                //= ../blocks/mobile-menu.html
            </div>

            </div>
          </header>
          <div class="steps">
            <div class="steps__item ">
              <div class="steps__item__check"> </div>
              <div class="steps__item__title">Проверка заказа</div>

            </div>
            <div class="steps__item active">
                <div class="steps__item__check"> </div>
                <div class="steps__item__title">Адрес</div>
            </div>
            <div class="steps__item">
                <div class="steps__item__check"> </div>
                <div class="steps__item__title">Оплата</div>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <form name="enter-address" method="post" action="/" class="form">
            <div class="form-group">
                <label>Ваш адрес</label>
                <input type="text" name="address" value="" placeholder="г. Москва, ул." required class="form-control"/>
            </div>
            <div class="form-group">

                <div class="row">
                  <div class="col-4">
                        <label>Дом<span class="required">*</span></label>
                        <input type="text" name="house-number" value="" placeholder="8"  required class="form-control"/>
                  </div>
                  <div class="col-4">
                        <label>Кв</label>
                        <input type="text" name="house-flat" value="" placeholder="34" class="form-control"/>
                  </div>
                  <div class="col-4">
                        <label>Этаж</label>
                        <input type="text" name="house-floor" value="" placeholder="2" class="form-control" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <label>Корпус</label>
                    <input type="text" name="house-section" value="" placeholder="" class="form-control" />
                  </div>
                  <div class="col-4">
                    <label>Строение</label>
                    <input type="text" name="house-building" value="" placeholder="" class="form-control" />
                  </div>
                  <div class="col-4">

                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Введите номер телефона</label>
                <input type="tel" name="phone" value="" placeholder="8-xxx-xxx-xx-xx" class="form-control phone" />
              </div>
              <div class="form-group">
                <label>Введите ваше имя</label>
                <input type="text" name="name" value="" class="form-control" />
              </div>
            </div>



          </form>
        </div>
          <button class="btn btn-next">Далее</button>

      </div>
    </div>
  </div>
