<div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <header class="xs-visible">
            <div class="row">
            <div class="col-9">
              <img src="./assets/logo-words.png" alt="logo" />
            </div>
            <div class="col-3">
                //= ../blocks/mobile-menu.html
            </div>

            </div>
          </header>
          <div class="top">
            <i class="arrow-left"></i>
            <div class="top__title">Ваш заказ №367 принят и начал готовиться!</div>
          </div>
        </div>

        <div class="modal-body">
          <div href="#" class="success-icon"></div>

            <button class="form-next">Посмотреть как готовится заказ</button>

        </div>
      </div>
    </div>
  </div>
