<div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <header class="xs-visible">
            <div class="row">
            <div class="col-9">
              <img src="./assets/logo-words.png" alt="logo" />
            </div>
            <div class="col-3">
                //= ../blocks/mobile-menu.html
            </div>

            </div>
          </header>
          <div class="steps">
            <div class="steps__item">
              <div class="steps__item__check"> </div>
              <div class="steps__item__title">Проверка заказа</div>

            </div>
            <div class="steps__item ">
                <div class="steps__item__check"> </div>
                <div class="steps__item__title">Адрес</div>
            </div>
            <div class="steps__item  active" >
                <div class="steps__item__check"> </div>
                <div class="steps__item__title">Оплата</div>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="payments">
            <div class="payments__title">Способы оплаты:</div>
            <div class="payments__item">
              <div class="row">
                <div class="col-4"><img src="./assets/images/payments/qiwi.png" alt="qiwi" /></div>
                <div class="col-4">QIWI<br/> .......</div>
                <div class="col-4"><a href="#"><i class="icon-arrow-down"> </i></a></div>
              </div>
            </div>
          </div>
        </div>
          <button class="btn btn-next">Оплатить</button>

      </div>
    </div>
  </div>
