<div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <header class="xs-visible">
            <div class="row">
            <div class="col-9">
              <img src="./assets/logo-words.png" alt="logo" />
            </div>
            <div class="col-3">
                //= ../blocks/mobile-menu.html
            </div>

            </div>
          </header>
        </div>

        <div class="modal-body">
          <div class="phone__value">8-800-555-80-80</div>
          <div class="phone__desc">Звонок бесплатный</div>

          <div class="big-links">
            <ul>
              <li class="active"><a href="#">Вход</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
