<!DOCTYPE html>
<html>
<head>
     <title>Main page</title>
    
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
      <link rel="stylesheet" href="/static/css/app.css" type="text/css"/>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <meta name="robots" content="index, follow">
    
     <meta property="og:image" content="https://cdn.mdn.mozilla.net/static/img/opengraph-logo.72382e605ce3.png">
     <meta property="og:site_name" content="Веб-документация MDN">
     <meta name="twitter:card" content="summary">
     <meta name="twitter:image" content="https://cdn.mdn.mozilla.net/static/img/opengraph-logo.72382e605ce3.png">
     <meta name="twitter:site" content="@MozDevNet">
     <meta name="twitter:creator" content="@MozDevNet">
    
     <link rel="shortcut icon" href="https://cdn.mdn.mozilla.net/static/img/favicon32.7f3da72dcea1.png">
    
    
     <!-- document-specific social tags -->
     <meta property="og:title" content="Использование viewport мета тега для управления разметкой на мобильных браузерах">
     <meta property="og:url" content="https://developer.mozilla.org/ru/docs/Mozilla/Mobile/Viewport_meta_tag">
     <meta name="twitter:url" content="https://developer.mozilla.org/ru/docs/Mozilla/Mobile/Viewport_meta_tag">
     <meta name="twitter:title" content="Использование viewport мета тега для управления разметкой на мобильных браузерах">
    
     <meta property="og:description" content="Узнать больше о вьюпортах в разных мобильных браузерах можно в Рассказе о Двух Viewport&#39;ах на quirksmode.org.">
     <meta name="description" content="Узнать больше о вьюпортах в разных мобильных браузерах можно в Рассказе о Двух Viewport&#39;ах на quirksmode.org.">
     <meta name="twitter:description" content="Узнать больше о вьюпортах в разных мобильных браузерах можно в Рассказе о Двух Viewport&#39;ах на quirksmode.org.">
</head>
<body>
<header class="header">
    <div class="header__topline">
        <div class="container">
            <div class="row v-middle">
                <div class="col-lg-3 col-xl-3 col-md-3">
                    <a href="#city-select" class="select-city-link">Москва</a>
                    <a href="/"><img src="./assets/images/logo.svg" alt="logo"/></a>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4">
                    <div class="phone">
                        <p class="phone__value"> 8-800-555-55-55</p>
                        <p>Звонок бесплатный</p>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-5 col-md-5 col text-right">
                    <div class="socials">
                        <a href="#" class="socials__item vk"><i class="icon-vk"></i> </a>
                        <a href="#" class="socials__item fb"><i class="icon-facebook"></i></a>
                        <a href="#" class="socials__item insta"><i class="icon-instagram"></i></a>
                        <a href="#" class="socials__item youtube"><i class="icon-youtube-play"></i></a>
                    </div>

                        <a href="#login" class="login-link" v-if="!checkLogin" @click.prevent="$modal.show('login')">Войти</a>
                    <div class="user-info" v-if="checkLogin" v-text="userInfo"></div>
                        <a href="cart.html" class="btn basket-btn">Корзина</a>

                    <div class="mini-cart" id="mini-cart">
                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <img src="./assets/images/food/extrasmall/1.jpg" alt="food"/>
                            </div>
                            <div class="col-md-7 col-xs-7">
                                <p>Овощная слоеная с овощами</p>
                                <p>520 ₽ <span class="mini-cart__weight">800 г</span></p>

                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="ui-amount-control vertical">
                                    <button class="minus-one-btn"><i class="icon-minus"></i></button>
                                    <span class="ui-amount-control__value">1</span>
                                    <button class="plus-one-btn"><i class="icon-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total-price">1 990 ₽</div>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="broadcast">
    <div class="container">
        <div class="page-nav"><a href="/"><i class="arrow-left"></i>Назад к меню</a></div>
        <div class="broadcast__top row">
            <h2 class="pagetitle col-md-6">Трансляция с кухни</h2>
            <div class="cart__info col-md-6 text-right"></div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-xl-5">
                <div class="broadcast__video">
                    <img src="./assets/images/video/1.jpg" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-7 col-xl-7">
                <div class="row">
                    <div class="col-lg-7 col-xl-7"><p class="order-num">Ваш заказ №356</p>
                        <p class="order-delivery-date">Будет доставлен до 18:55</p>
                        <p class="order-delivery-desc">Если наш курьер не успеет доставить заказ
                            в течение 60 минут, мы подарим Вам 300 бонусных рублей.
                        </p></div>
                    <div class="col-lg-5 col-xl-5">
                        <div class="timer">
                            <span class="timer__min">59</span> мин  <span class="timer__sec">37</span> сек
                        </div>
                    </div>
                </div>


                <div class="order-details">
                    <div class="row">
                        <div class="col-md-6 order-details__item">
                            <div class="order-details__item__title">1. Пиццони с грибами</div>
                            <div class="row">

                                <div class="col">

                                    <div class="order-details__item__img"><img src="./assets/images/food/small/1.png"
                                                                               width="130" height="117"/></div>
                                    <div class="order-details__status">Готово</div>
                                </div>
                                <div class="col">
                                    <ul class="ingreds tags">
                                        <li class="tags__item">Салями <span>2x</span></li>
                                        <li class="tags__item">Моцарелла <span>2x</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-details__item">
                            <div class="order-details__item__title">2. Пиццони с грибами</div>
                            <div class="row">

                                <div class="col">

                                    <div class="order-details__item__img"><img src="./assets/images/food/small/1.png"
                                                                               width="130" height="117"/></div>
                                    <div class="order-details__status">Готово</div>
                                </div>
                                <div class="col">
                                    <ul class="ingreds tags">
                                        <li class="tags__item">Салями <span>2x</span></li>
                                        <li class="tags__item">Моцарелла <span>2x</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-details__item">
                            <div class="order-details__item__title">3. Пиццони с грибами</div>
                            <div class="row">

                                <div class="col">

                                    <div class="order-details__item__img"><img src="./assets/images/food/small/1.png"
                                                                               width="130" height="117"/></div>
                                    <div class="order-details__status">Готово</div>
                                </div>
                                <div class="col">
                                    <ul class="ingreds tags">
                                        <li class="tags__item">Салями <span>2x</span></li>
                                        <li class="tags__item">Моцарелла <span>2x</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-details__item">
                            <div class="order-details__item__title">4. Пиццони с грибами</div>
                            <div class="row">

                                <div class="col">

                                    <div class="order-details__item__img"><img src="./assets/images/food/small/1.png"
                                                                               width="130" height="117"/></div>
                                    <div class="order-details__status">Готово</div>
                                </div>
                                <div class="col">
                                    <ul class="ingreds tags">
                                        <li class="tags__item">Салями <span>2x</span></li>
                                        <li class="tags__item">Моцарелла <span>2x</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="wrapper-small text-center">
            <p>Вопросы и пожелания Вы можете прислать нам на электропочту,<br/>
                <a href="mailto:sos@foodkostgroup.ru">sos@foodkostgroup.ru</a></p>
            <div class="row">
                <div class="col-lg-4 col-xl-4 col-md-4">
                    <a href="#agreements">Пользовательское соглашение</a>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4">
                    <a href="#agreements">Политика конфиденциальности</a>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4 ">
                    <a href="#agreements">Все о наших блюдах</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row v-middle">
                <div class="col-lg-2 col-xl-2 col-md-3">
                    <img src="./assets/images/logo-words.svg" alt="logo" class="img-fluid"/>
                </div>
                <div class="col-lg-7 col-xl-7 col-md-4 text-center">
                    © 2017 Burger & Pizzoni. All Right Recived.
                </div>
                <div class="col-lg-2 col-xl-2 col-md-3  text-right">
                    <img src="./assets/images/fcg.svg" alt="logo" class="img-fluid"/>

                </div>
                <div class="col-lg-1 col-xl-1 col-md-2">

                    <span>Блог Магомеда Костоева</span>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="/static/js/app.js" type="text/javascript"></script>


</body>
</html>