<!DOCTYPE html>
<html>
<head>
    //= template/head.html
</head>
<body>

<div id="app">
//= template/header.html
//= template/slider.html


<section id="mainnavbar">
    <div class="container">
        <div class="row v-middle">
            <div class="col-lg-1 col-xl-1 logo">
                <img src="./assets/images/logo.png" alt="logo"  class="img-fluid"/>
            </div>
            <div class="col-lg-8 col-xl-8  ">
              <mainmenu :data="menu"></mainmenu>
            </div>
            <div class="col-lg-3 col-xl-3    ">
               <filters :filters="filters"></filters>

                <search></search>

            </div>
        </div>

    </div>
</section>
<section id="main">
    <div class="container food">

            <div class="row">

            </div>
        </div>
</section>
    <modal name="login" height="auto" adaptive v-cloak >
        <button @click="$modal.hide('login')" class="modal-close">
            x
        </button>
        <h3 class="modal-header">Авторизация</h3>
        <div class="modal-body">
            <form name="register" action="/" method="post" @submit.prevent="auth" id="auth-form" >
                <div class="form-group">
                    <input type="text" class="form-control" name="username" value="" placeholder="Телефон" v-model="phone" required />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" value="" placeholder="Пароль" required />
                    <a href="#" @click.prevent="restorePassword">Забыли пароль</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control" name="submit" >Отправить</button>
                </div>

                <div class="form-group">
                    <a href="#" @click.prevent="showRegister">Регистрация</a>
                </div>

            </form>
        </div>
    </modal>


    <modal name="register" height="auto" adaptive v-cloak >
        <button @click="$modal.hide('register')" class="modal-close">
            x
        </button>
        <h3 class="modal-header">Регистрация</h3>
        <div class="modal-body">
            <form name="register" action="/" method="post" @submit.prevent="register" id="reg-form" >
                <p v-if="Object.keys(errors.register).length!==0">
                    <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="(error,input) in errors.register">{{ error }}</li>
                </ul>
                </p>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" value="" placeholder="Имя" />

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="phone" value="" placeholder="Телефон"  v-model="phone" />
                </div>


                <div class="form-group">
                    <button type="submit" class="form-control" name="submit" >Отправить</button>
                </div>

            </form>
        </div>
    </modal>

    <modal name="register2" height="auto" adaptive v-cloak >
        <button @click="$modal.hide('register2')" class="modal-close">
            x
        </button>
        <h3 class="modal-header">Регистрация- введите код из смс для активации</h3>
        <div class="modal-body">
            <form name="register-form-2" action="/" method="post" @submit.prevent="activate" id="reg-form2" >
                <div class="form-group">
                    <input type="hidden" class="form-control" name="phone" value="" placeholder="Телефон" required  v-model="phone"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" value="" placeholder="Пароль"  />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password_confirm" value="" placeholder="Подтверждение пароля"  />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="code" value="" placeholder="Код из смс" required />

                </div>
                <div class="form-group">
                    <button type="submit" class="form-control" name="submit" >Отправить</button>
                </div>
            </form>
        </div>
    </modal>

</div>
//= template/footer.html



</body>
</html>
