.delivery {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 640px;
  height: 400px;
  background: white;
  z-index: 2;

  // Шапка модального окна
  .modal-header {
    display: flex;
    justify-content: flex-start;
    position: relative;
    background: black;
    padding: 0;
    height: 48px;
    border-bottom: 0;
  
    .info-yellow-block {
      background: #ffd70f;
      padding: 10px;
      display: block;
      height: 100%;
      width: 35%;
      color: black;
      font-size: 21px;
      text-align: center;
      text-transform: uppercase;
    }
  
    .tab-name {
      cursor: pointer;
      display: block;
      color: white;
      background: black;
      font-size: 21px;
      padding: 10px;
      height: 100%;
      overflow: hidden;
      &.active {
        color: black;
        background: white;
      }
    }
  
    .info-modal-close {
      width: 21px;
      height: 21px;
      background: url("img/icons_close_max.png") center no-repeat;
      background-size: contain;
      position: absolute;
      top: 14px;
      right: 10px;
      border: none;
      outline: none;
      text-decoration: none;
      box-shadow: none;
      opacity: .5;
      cursor: pointer;
      transition: all .2s ease-in-out;
  
      &:hover {
        opacity: 1;
      }
    }
  }
  
  .info-modal-pic {
    width: 100%;
    max-height: 540px;
    img {
      width: 100%;
      object-fit: contain;
  
    }
  }

  // КОНЕЦ Шапка модального окна
  
  .modal-wrapper {
    padding: 30px;
    position: relative;

    //Доставка

    .hello-message {
      color: black;
      width: 100%;
      text-align: center;
      font-size: 18px;
      margin-bottom: 15px;
    }

    .search-input {
      text-transform: uppercase;
      border: 1px solid #b2b2b2;
      padding: 9px 8px 6px;
      width: 100%;
      height: auto;
      margin-bottom: 15px;
      border-radius: 6px;
      font-size: 14px;
      &:focus {
        border: 1px solid #ffd70f;
        outline: 0;
      }
      &::placeholder {
        color: #b2b2b2;
      }
    }

    .small-inputs-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    .small-wrapper {
      position: relative;
      width: 23%;

      label {
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 14px;
        text-align: center;
        transition: all 0.05s linear 0s;
        color: #b2b2b2;
        text-transform: uppercase;
        pointer-events: none;
      }
    }

    .small-input {
      position: relative;
      text-transform: uppercase;
      border: 1px solid #b2b2b2;
      padding: 9px 8px 6px;
      border-radius: 6px;
      font-size: 14px;
      text-align: center;
      width: 100%;

      &:focus,
      &:valid {
        outline: 0;
        border: 1px solid #ffd70f;

        &~label {
          width: auto;
          height: auto;
          top: 0;
          left: 5px;
          font-size: 12px;
        }
      }
    }

    .recieve-code-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 15px;
    }

    .phone-wrapper {
      width: 50%;
    }

    .phone-input {
      text-transform: uppercase;
      border: 1px solid #b2b2b2;
      padding: 9px 8px 6px;
      border-radius: 6px 0 0 6px;
      text-align: center;
      font-size: 14px;
      width: 100%;
      &:focus {
        outline: 0;
        border: 1px solid #ffd70f;
      }
    }

    .phone-btn {
      text-transform: uppercase;
      border: 1px solid #b2b2b2;
      background: #b2b2b2;
      color: white;
      padding: 9px 8px 6px;
      border-radius: 0 6px 6px 0;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      width: 50%;
      &:hover {
        border: 1px solid #ffd70f;
        background: #ffd70f;
        color: black;
      }
      &:focus {
        outline: 0;
      }
    }

    .send-code-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 30px;
    }

    .code-wrapper,
    .code-btn {
      width: 25%;
    }

    .send-link-again-wrapper {
      width: 100%;
      text-align: center;
    }
    .send-again-link {
      color: #808080;
      font-size: 18px;
      margin: 0 auto;
      text-decoration: underline;

      &:hover {
        color: black;
      }

      &:focus {
        outline: 0;
      }
    }

    // Конец Доставка

    // Самовывоз

    .addresses-wrapper {
      height: 200px;

      .modal-scrollbar {
        max-height: 200px;
      }
    }

    .radio-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
    }
    /* Customize the label (the container) */
    .rb-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 18px;
      width: 50%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .rb-container .work-time {
      display: block;
      font-size: 12px;
      color: #808080;
    }

    /* Hide the browser's default radio button */
    .rb-container input {
      position: absolute;
      opacity: 0;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 2px;
      left: 0;
      height: 23px;
      width: 23px;
      background: transparent;
      border-radius: 50%;
      border: 1px solid #b2b2b2;
    }

    /* On mouse-over, add a grey background color */
    .rb-container:hover input ~ .checkmark {
      border: 1px solid #808080;
    }

    /* When the radio button is checked, add a blue background */
    .rb-container input:checked ~ .checkmark {
      background-color: #ffffff;
      border: 1px solid #808080;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .rb-container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .rb-container .checkmark:after {
      top: 4px;
      left: 4px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #ffd70f;
    }

    .selfdelivery-btn {
      display: block;
      background: #ffd70f;
      color: black;
      text-align: center;
      border-radius: 6px;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 6px 50px 4px;
      margin: 16px auto 0;
    }

    // Конец Самовывоз

    .thank-you-message {
      background: white;
      padding: 50px 30px 30px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      p {
        color: black;
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin-bottom: 7px;
      }
      .address {
        margin-bottom: 25px;
      }

      button {
        display: block;
        background: #ffd70f;
        color: black;
        text-align: center;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 6px 50px 4px;
        margin: 30px auto 0;
      }
    }

  }
  
  
}

