.header{
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.header-center{
  width: 80vw;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-left-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
  max-width: 290px;
  margin-right: 20px;
}
.logo{
  padding-top: 3px;
  height: 64px;
}
.select-city-link{
  margin-top: 20px;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 2px dotted black;
  height: 25px;
}
.header-right-block1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  max-width: 270px;
}
.header-right-block2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 430px;
  max-width: 430px;
}
.header-right-block3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 380px;
  max-width: 380px;
}
.number-block{
  margin-right: 20px;
  width: 185px;
}
.number{
  margin-top: 8px;
  font-size: 24px;
  font-weight: bold;
  width: 205px;
}
.number2{
  margin-top: -4px;
  font-size: 13px;
  text-align: center;
}
.price_block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price{
  margin-top: 16px;
  font-size: 24px;
}
.basket{
  margin-top: 10px;
  background:#ffd60f;
  text-transform: uppercase;
  padding: 8px 20px;
  line-height: 28px;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 7px;
  max-height: 42px;
  cursor: pointer;
}
.sign_in{
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px solid #ffd60f;
  height: 25px;
  margin-top: 20px;
}
.hello-block{
  width: 205px;
}
.hello-block-text{
  text-transform: uppercase;
  margin-top: 14px;
  font-size: 16px;
}
.hello-block-text2{
  display: block;
  margin: -10px 0px 0px 145px;
  text-decoration: underline;
  font-size: 16px;
}
.password-input{
  text-transform: uppercase;
  color: black;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  padding: 6px 25px 5px 25px;
  height: 42px;
  margin-top: 10px;
  font-size: 14px;
  width: 114px;
}
.avatar{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-top: 10px;
}
.person-info-block-texts{
  margin-left: 6px;
}
.person-info-block{
  display: flex;
  text-transform: uppercase;
}
.person-info-block-name{
  margin-top: 13px;
}
.person-info-block-text{
  font-size: 12px;
  margin-top: -8px;
}
.exit{
  margin-top: -10px;
  margin-left: 20px;
  cursor: pointer;
}
.basket-block{
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  right: -100px;
  min-width: 600px;
  top: 50px;
  background: white;
  padding: 0px 20px 15px 20px;
}
.basket-block-food-block{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 15px;
}
.basket-block-food-image{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: url('./img/pizza.png') center;
}
.food-name-and-price-block{
  display: flex;
  flex-direction: column;
}
.food-name{
  text-transform: uppercase;
  color: black;
  font-size: 23px;
  font-weight: bold;
  margin-left: 15px; 
}
.food-price{
  text-transform: uppercase;
  color: black;
  font-size: 31px;
  margin-left: 15px;
  margin-top: -5px;
}
.food-size-block{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.size-selector{
  margin-top: 8px;
}
.food-weight{
  color: #7E7E7E;
  margin-top: 13px;
  font-size: 17px;
}
.amount-food-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
}
.plus-minus-block{
  border: 1px solid black;
  border-radius: 100%;
  margin-top: 30px;
  padding: 1px 18px 0px 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 25px;
  line-height: 22px;
}
.plus-minus-block:hover{
  background-color: #ffd60f;
  border: 1px solid #ffd60f;
}
.amount-food-num{
  font-size: 23px;
  margin-top: 24px;
}
.delete-button{
  font-size: 20px;
  color: black;
  border: 1px solid black;
  padding: 5px 20px 0px 20px;
  border-radius: 24px;
  height: 45px;
  margin: 17px 20px 0px 20px;
  cursor: pointer;
}
.delete-button:hover{
  background-color: #ffd60f;
  border: 1px solid #ffd60f;
}
.basket-block-food-block-left{
  display: flex;
  flex-direction: row;
}
.basket-block-food-block-right{
  display: flex;
  flex-direction: row;
}
.totals-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #DADADA;
  margin-top: 20px;
}
.totals-text{
  color: black;
  font-size: 22px;
  margin-top: 20px;
}
.totals-text-bold{
  font-size: 25px;
  font-weight: bold;
}
.go-to-basket-button{
  color: black;
  font-size: 19px;
  background-color: #ffd60f;
  height: 50px;
  padding: 12px 35px 0px 35px;
  border-radius: 10px;
  text-transform: uppercase;
  margin-top: 13px;
  cursor: pointer;
}
.triangle{
  position: absolute;
  border-left: 1px solid #CFCFCF;
  border-top: 1px solid #CFCFCF;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: white;
  right: 140px;
  top: -11px;
}
.basket-wrapper{
  margin-top: 18px;
  position: relative;
}

@media screen and (max-width:1100px){
  .header-center{
    width: 100%;
    max-width: 100%;
    min-width: 700px;
  }
  .header{
    display: flex;
    justify-content: start;
  }
  .triangle{
    right: 140px;
  }
}