.top-footer{
  background-color: #F2F2F2;
  height: 200px;
  display: flex;
  justify-content: center;
}
.top-footer-center{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width:60vw;
}
.text1{
  color: #9D9D9D;
}
.links{
  widows: 100%;
  display: flex;
  justify-content: space-between;
}
.agreements{
  color: #9D9D9D;
  text-decoration: underline;
}
.agreements:hover{
  color: black;
  text-decoration: underline;
}
.social-icon{
  margin-right: 10px;
}
.footer-center-center-text{
  margin-top: 25px;
}
.social-liks-block{
  margin-bottom: 23px;
}
.lower-footer {
  height:74px;
  background:#fff;
  line-height:1;
  padding-top:1rem;
  box-shadow:3px -3px  16px 3px rgba(0,0,0,0.16);
  display: flex;
  justify-content: center;
}
.lower-footer-center-block{
  width: 80vw;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo{
  margin-bottom: 18px;
}
.center-text{
  color: #9D9D9D;
  margin-top: 14px;
}
.lower-footer-right-block{
  display: flex;
  flex-direction: row;
}
.text-in-right-block{
  width: 70px;
  color: #9D9D9D;
  font-size: 15px;
  line-height:12px;
}
