#slider {
  padding-top:5em;
  min-height:560px;
  padding-bottom:2em;
  font-family:$gilroy;
  background-size:cover;
}

.slider__title {
  font-size:3em;
  font-weight:400;
}

.slider__desc{
  font-size:1.875em;
  line-height: 1.2;
  font-weight:400;
  margin-bottom:9em;
}

.slider-btn{
  text-transform: uppercase;
  line-height:0.8;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
}

#slider .slide {max-width: 510px;}


@media screen and (max-width:1400px){
   #slider {
     font-size:14px;
     min-height:400px;
   }
}

@media screen and (max-width:1200px){
  #slider {
    font-size:12px;
    min-height:300px;
  }
}