.main-offer {
  width: 100%;
  position: relative;
  height: 730px;
  background: url("img/bgr_head.jpg") bottom center no-repeat;
  background-size: auto;
}

.main-title {
  display: block;
  text-align: center;
  margin: 0 auto 0;
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  font-family: "Gilroy";
  color: black;
  letter-spacing: 2px;
}

.sub-title {
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
  color: black;
  letter-spacing: 2px;
}

.pizza-mo {
  position: absolute;
  top: 20%;
  left: -5%;
  background: url("img/pizza_mashr.png") center left no-repeat;
  background-size: contain;
  width: 47vw;
  height: 570px;
  .add-mo-to-cart {
    left: 57%;
    top: 130px;
  }
  &:hover {
    .add-mo-to-cart {
      opacity: 1;
    }
  }
}

.burger-mo {
  position: absolute;
  right: 36%;
  top: 22%;
  background: url("img/burger.png") center right no-repeat;
  background-size: contain;
  width: 20vw;
  height: 300px;
  .add-mo-to-cart {
    left: 44%;
    top: 70px;
  }
  &:hover {
    .add-mo-to-cart {
      opacity: 1;
    }
  }
}

.add-mo-to-cart {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  .mo-to-cart-img {
    width: 36px;
    height: 36px;
    background: url("img/icons_busket.png") center center no-repeat;
    background-size: contain;
    margin: 40px auto 0;
  }
  .mo-to-cart-text {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
}

.mo {
  .chars {
    width: 47%;
    .title {
      font-size: 21px;
      font-family: "Gilroy";
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      max-height: 62px;
      overflow: hidden;
    }
  }
  .ingrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 81px;
    overflow: hidden;
    .i-item {
      margin: 0 5px 0 0;
      .mod-name {
        font-size: 18px;
        color: #808080;
      }
      .mod-name-deleted {
        text-decoration: line-through;
      }
      .mod-delete-icon {
        color: black;
        background: url("img/icons_close_min.png") center no-repeat;
        background-size: contain;
        cursor: pointer;
        width: 9px;
        height: 9px;
        display: inline-block;
        margin: 0 0 0 2px;
      }
      .mod-return-icon {
        color: black;
        cursor: pointer;
        font-size: 17px;
        width: 9px;
        height: 9px;
        display: inline-block;
        margin: 0 0 0 2px;
        &::before {
          content: '+';
          display: inline-block;
          transform: scale(1.12);
        }
      }
    }
  }
  .i-add,
  .i-more {
    display: inline;
    align-self: flex-start;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px dotted #808080;
    font-size: 18px;
    &:hover {
      border-bottom: 2px solid #808080;
    }
  }
  .i-add {
    margin-right: 15px;
  }
  .sizes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: flex-start;
    margin: 10px 0 0;
    .btn {
      text-align: center;
      display: block;
      border-radius: 15px;
      border: 1px solid #808080;
      color: black;
      cursor: pointer;
      padding: 5px;
      margin-bottom: 3px;
      &:hover,
      &.active {
        border: 1px solid #ffd70f;
        background: #ffd70f;
        box-shadow: 2px 5px 5px -4px rgba(0, 0, 0, 0.18);
      }
      &.mini-size {
        padding: 4px 8px;
        margin-right: 8px;
      }
      &.middle-size {
        padding: 4px 10px;
        margin-right: 8px;
      }
      &.maxi-size {
        padding: 4px 15px;
      }
    }
  }
  .bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    .price {
      font-size: 2rem;
      color: black;
      margin: 0 0 0 0;
      white-space: nowrap;
      span {
        font-size: 1.8rem;
      }
    }
    .weight {
      color: #808080;
      font-size: 12px;
      white-space: nowrap;
    }
    .in-basket {
      position: relative;
      outline: 0;
      border: 2px solid #ffd70f;
      border-radius: 4px;
      text-align: center;
      text-transform: uppercase;
      color: black;
      background: transparent;
      padding: 5px 13px 2px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background: #ffd70f
      }
      .count-items {
        position: absolute;
        top: -10px;
        right: -10px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ffd70f;
        color: black;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .counter-block {
      display: flex;
      .counter {
        width: 26px;
        height: 26px;
        background: transparent;
        border-radius: 50%;
        border: 1px solid #808080;
        outline: none;
        text-decoration: none;
        box-shadow: none;
        cursor: pointer;
        &:hover {
          background: #ffd70f;
          border: 1px solid #ffd70f;
        }
      }
      .label-counter {
        display: inline-block;
        margin: 2px 0.5rem 0;
        font-size: 1.8rem;
        line-height: 1;
      }
    }
  }
}

.pizza-mo {
  .chars {
    position: absolute;
    width: 300px;
    left: 45vw;
    top: 308px;
  }
}

.burger-mo {
  .chars {
    position: absolute;
    width: 300px;
    left: 106%;
    top: 190px;
  }
}