.minus-one-btn {
  background: none;
  border: none;
  height: 1em;
}

.plus-one-btn {
  background: none;
  border: none;
  height: 1.1em;
  padding-right:1.1em;
}
.minus-one-btn:hover, .plus-one-btn:hover {
  cursor:pointer;
}

.ui-amount-control .ui-amount-control__value {

  line-height: 1;
  padding: 0 .5em;
}

.ui-amount-control {
  display: inline-block;
  border-radius: 30px;
  border: 1px solid $shady-lady;
  padding:.25em;
  min-width:90px;
}
.food__item__amount {

  border: 2px solid #ffd60f;
  padding: 0.875em;

}

.ui-amount-control  > * {
  display: inline-block;
  vertical-align: middle;
  width: 33.333333333333%;
  margin-right: -3px;
}

.ui-amount-control.border-yellow {
  border:2px solid #ffd60f;
}